{% extends 'layout.html' %}
{% block content %}
<div class="content-section2">
    <div class="container" style="padding-left: 20px;">
        <div id="camera" style="height:auto;width:auto; text-align:center;"></div>
    </div>
    <div style='padding-top: 10px; text-align: center;'>
    <button type="button" class="btn btn-outline-success btn-lg" id="btPic" onclick="takeSnapShot()" >Take selfie!</button>
    </div>
</div>
<script>
    Webcam.set({
        width: 640,
        height: 480,
        image_format: 'jpeg',
        jpeg_quality: 100
    });
    Webcam.attach('#camera');

    takeSnapShot = function () {
        Webcam.snap(function (data_uri) {
            downloadImage('aipicture', data_uri);
        });
    }

    downloadImage = function (name, datauri) {
        var a = document.createElement('a');
        a.setAttribute('download', name + '.png');
        a.setAttribute('href', datauri);
        a.click();
    }
</script>
{% endblock content %}

